<div class="ms-Grid-row">
    <div class="ms-NavBar">
        <ul class="ms-NavBar-items">
            <li class="ms-NavBar-item">Angular 6, RxJs 6 and the Microsoft Graph API Connect Sample</li>
        </ul>
    </div>
    <div class="ms-Grid-col ms-u-mdPush1 ms-u-md9 ms-u-lgPush1 ms-u-lg6">
        <div>
            <p class="ms-font-xl">Use the button below to connect to Microsoft Graph.</p>
            <button class="ms-Button" (click)="onLogin()">
                <span class="ms-Button-label">Connect</span>
            </button>
        </div>
    </div>
</div>